body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #333333;
  font-size: 12px;
}
.img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
label {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
input {
  margin: 0;
  padding: 0;
}
.es_content {
  background: #fff;
}
/*.es_wrapper{
	width: 1280px;
	margin: 0 auto;

	overflow: hidden;
}*/
/*-------------header---------------------------*/
.es_header-bg {
  background: #000;
}
.es_header {
  height: 140px;
  width: 941px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.es_header .es_logo {
  margin: 50px 0px;
  float: left;
}
.es_header-inner {
  padding: 12px 20px;
  height: 78px;
}
.es_header-inner .es_logo {
  float: left;
}
.es_header-inner .es_basket {
  float: right;
  margin: -12px -20px;
  height: 78px;
  background: #fff;
  width: 180px;
  border: 1px solid #000;
}
.es_header-inner .es_basket span {
  text-align: center;
  display: block;
  color: #000;
  margin-top: 10px;
  font-size: 28px;
}
.es_header-inner .es_basket span + span {
  font-size: 20px;
  margin: 0;
}
.es_search {
  margin-left: 20px;
  float: left;
}
.es_search input[type="search"] {
  width: 690px;
  height: 57px;
  text-align: left;
  font-family: 'Arial';
  font-size: 22px;
  float: left;
  padding: 0;
  padding-left: 10px;
  border: none;
  color: #666;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  background: #fff;
}
.es_search span {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  background: #43bffb url(../images/search.jpg) no-repeat;
  position: relative;
  top: -2px;
}
.es_main-content {
  overflow: hidden;
  position: relative;
  background: #000;
}
.es_help-header3 {
  height: 40px;
  width: 546px;
  float: right;
  margin: 60px 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
}
.es_help-header3 li {
  list-style: none;
  height: 15px;
  margin-top: 5px;
  border-radius: 38px;
  text-align: center;
  font-size: 14px;
  display: inline;
  padding: 10px 30px;
}
.es_help-header3 li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.es_box-1,
.es_box-2,
.es_box-3,
.es_box-4 {
  display: table;
  width: 626px;
  margin-right: 28px;
  margin-bottom: 28px;
  float: left;
  height: 506px;
}
.es_box-3,
.es_box-4{
	margin-bottom:0;
}
.es_box-1 span,
.es_box-2 span,
.es_box-3 span,
.es_box-4 span {
  font-size: 40px;
  display: block;
  font-family: Calibry;
  text-align: center;
  font-weight: bold;
  color: #000;
  display: table-cell;
  vertical-align: middle;
}
.es_box-2,
.es_box-4 {
  margin-right: 0;
}
.es_box-1 {
  background: #c72b81;
}
.es_box-2 {
  background: #78BE20;
}
.es_box-3 {
  background: #00A9E0;
}
.es_box-4 {
  background: #E8B3C3;
}
.es_box-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 296px;
  height: 296px;
  background: #000;
}
.es_box-center span {
  display: block;
  vertical-align: top;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}
.es_box-center span span {
  font-size: 14px;
  font-weight: normal;
}
.es_box-center:before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 35%;
  vertical-align: middle;
}
.es_bg-white {
  background: #fff;
  padding: 20px 30px;
}
/*-----------------хлебные крошки .crumbs----------------------------------*/
.es_crumbs {
  margin: 10px 0;
}
.es_crumbs ul {
  font-size: 26px;
  list-style: none;
  font-family: calibri;
  color: #00A9E0;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.es_crumbs ul li {
  display: inline-block;
  padding-right: 30px;
  background: url(../images/right.png) no-repeat right 5px center;
}
.es_crumbs ul li:last-child {
  background: none;
}
.es_crumbs ul li a {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #00A9E0;
  text-decoration: none;
  color: #00A9E0;
}
.es_crumbs ul li a.active {
  background: #00A9E0;
  color: #fff;
}
/*--------------------сайд бар--------------------------------------------------*/
.es_brands {
  margin-top: 30px;
}
.es_side-bar {
  float: left;
}
.es_side-bar ul {
  width: 466px;
}
.es_side-bar ul li {
  padding: 20px 0;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: center;
}
.es_side-bar ul li a {
  font-family: Arial;
  font-size: 22px;
  color: #000;
  text-decoration: none;
}
.es_side-bar ul .active-razd {
  background: #000;
}
.es_side-bar ul .active-razd a {
  color: #fff;
}
.es_content {
  margin-left: 519px;
}
.es_content .es_block span {
  height: 40px;
  display: block;
  line-height: 40px;
  color: #000;
  padding-left: 31px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #505153;
}
/*-------------------Карточка товара chanel,dior------------------------------*/
.es_block.chanel .goods,
.es_block.dior .goods {
  width: 138px;
  float: left;
  position: relative;
  margin-right: 75px;
}
.es_block.chanel .goods .name,
.es_block.dior .goods .name {
  font-size: 11px;
  color: #505153;
  font-weight: bold;
}
.es_block.chanel .goods .price,
.es_block.dior .goods .price {
  font-size: 14px;
  font-weight: bold;
  margin-top: 57px;
  position: relative;
  height: 44px;
}
.es_block.chanel .goods span.price-gold,
.es_block.dior .goods span.price-gold {
  font-size: 11px;
  font-weight: normal;
  line-height: normal;
  top: 0;
  right: 0;
  position: absolute;
  padding: 0;
  display: inline-block;
  width: 63px;
  text-transform: none;
}
.es_block.chanel .goods span.more,
.es_block.dior .goods span.more {
  width: 138px;
  height: 20px;
  line-height: 20px;
  background: #000;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 0;
}
/*=================================Dior============================================*/
/*--------------Новинки ,бестселеры подарки dior------------------------------*/
.es_block.dior {
  margin-top: 20px;
  /*-------------------Товар dior новинки бестселлеры------------------------------*/
}
.es_block.dior span.new {
  font-weight: normal;
  font-size: 22px;
  padding-left: 0;
  margin-bottom: 20px;
}
.es_block.dior .border {
  background: url(../images/es_dior_body_bottom.png) no-repeat 50% 100%, url(../images/es_dior_body_top.png) no-repeat 50% 0, url(../images/es_dior_body.png) repeat-y;
  padding: 17px;
}
.es_block.dior .border .stoika {
  background: url(../images/box_hinter_dior.jpg) no-repeat -24px -36px;
}
.es_block.dior .goods {
  margin-right: 8px;
  margin-left: 20px;
  padding-bottom: 20px;
}
.es_block.dior .goods:last-of-type {
  margin-right: 0;
}
.es_block.dior .goods .img {
  width: 140px;
  height: 170px;
}
.es_block.dior .goods .img img {
  height: 170px;
  width: auto;
}
.es_block.dior .goods .name {
  text-align: center;
  margin-top: 41px;
}
.es_block.dior .goods span.more {
  border-radius: 10px;
}
.es_slider .thumb {
  margin: 15px 0 15px 15px;
  float: left;
}
.dynamic_disp-img {
  background: url(../images/es_dior_body_bottom.png) no-repeat 50% 100%, url(../images/es_dior_body_top.png) no-repeat 50% 0, url(../images/es_dior_body.png) repeat-y;
  padding: 17px 17px 7px 17px;
  position: relative;
  text-align: center;
}
.details {
  position: relative;
  float: left;
  width: 250px;
  text-align: left;
  top: 10px;
  margin: 10px 0 0 10px;
  font-family: Arial, Helvetica, Garuda, sans-serif;
}
/*------------------каталог dior---------------------------------------------------------*/
.es_catalog.dior {
  margin-top: 10px;
  margin-bottom: 10px;
}
.es_catalog.dior .border {
  padding: 25px;
  background: url(../images/es_dior_body_bottom.png) no-repeat 50% 100%, url(../images/es_dior_body_top.png) no-repeat 50% 0, url(../images/es_dior_body.png) repeat-y;
}
.es_catalog.dior .good {
  float: right;
  width: 320px;
  margin-right: 10px;
  margin-bottom: 50px;
}
.es_catalog.dior .good:nth-child(2n+1) {
  margin-right: 0;
}
.es_catalog.dior .good .img {
  float: left;
  position: relative;
  width: 190px;
  height: 170px;
}
.es_catalog.dior .good .img img {
  height: 170px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.es_catalog.dior .good .img .stoika {
  background: url(../images/img-floor.png) no-repeat;
  width: 190px;
  height: 41px;
  border: none;
  position: absolute;
  bottom: 0;
  margin-bottom: -41px;
}
.es_catalog.dior .good .name {
  max-height: 58px;
  height: 58px;
  overflow: hidden;
}
.es_catalog.dior .good .name a {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.es_catalog.dior .good .es_product_description {
  float: left;
}
.es_catalog.dior .good .es_product_description .es_product_section {
  font-size: 11px;
  color: #A9A9A9;
  height: 26px;
  overflow: hidden;
  line-height: 13px;
}
.es_catalog.dior .good .es_product_description .price-gold {
  width: 76px;
  font-size: 9px;
  color: #A9A9A9;
  padding-top: 0px;
  height: 53px;
  float: right;
  text-align: right;
  width: 80px;
}
.es_catalog.dior .good .es_product_description .more {
  border-radius: 10px;
  width: 100px;
  height: 20px;
  line-height: 20px;
  background: green;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  color: #FFF;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 0;
}
/*--------------------Подвал----------------------------------------*/
.es_footer {
  background: #fff;
}
.es_footer a.prev {
  display: inline-block;
  background: url(../images/prev.png) no-repeat;
  width: 142px;
  height: 70px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
  text-transform: uppercase;
}
.es_footer a.home {
  width: 536px;
  height: 73px;
  display: inline-block;
  background: #000;
  float: right;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  line-height: 73px;
  color: #fff;
  text-decoration: none;
}
.es_footer .banner {
  width: 100%;
  height: 150px;
  background: #ddd;
  margin-bottom: 20px;
}
.clear {
  clear: both;
}
.es_two-buttons a {
  padding: 20px 50px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  font-family: Arial;
  font-size: 22px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  width: 49.7%;
}
/*=------------------Основной каталог c меню в разделы----------------------------------------------=*/
.es_catalog.main {
  margin: 20px 190px;
  background: #fff;
}
.es_catalog.main a {
  position: relative;
  display: inline-block;
  margin-right: 17px;
  margin-bottom: 20px;
}
.es_catalog.main a:nth-child(4n+4) {
  margin-right: 0;
}
.es_catalog.main .es_square {
  display: table;
  width: 209px;
  height: 209px;
  background: #00A9E0;
  text-align: center;
}
.es_catalog.main .es_square span {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}
/*-----------------Основной каталог с товарами---------------------------------------------------------------------------------*/
.es_main-goods .side-bar-menu ul {
  font-size: 28px;
  text-transform: uppercase;
  border: 1px solid #000000;
}
.es_main-goods .side-bar-menu ul li {
  padding: 20px 30px;
  border-bottom: 1px solid #000000;
  background: url(../images/down.png) no-repeat right 20px center;
}
.es_main-goods .side-bar-menu ul li:hover {
  background: url(../images/up.png) no-repeat right 20px top 25px;
}
.es_main-goods .side-bar-menu ul li:last-child {
  border-bottom: none;
}
.es_main-goods .side-bar-menu ul li:hover ul {
  display: block;
}
.es_main-goods .side-bar-menu ul li a {
  display: block;
  text-align: left;
  color: #333333;
  text-decoration: none;
}
.es_main-goods .side-bar-menu ul li ul {
  padding: 0;
  margin: 20px -30px -20px -30px;
  display: none;
  border: none;
  border-top: 1px solid #000000;
  background: #ddd;
}
.es_main-goods .side-bar-menu ul li ul li {
  background: none;
}
.es_main-goods .side-bar-menu ul li ul li:hover {
  background: none;
}
.es_main-goods .side-bar-menu ul li ul li a {
  color: #333333;
  font-size: 18px;
}
.es_main-catalog .goods {
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  float: left;
  width: 220px;
  margin-right: 25px;
  margin-bottom: 20px;
}
.es_main-catalog .goods:nth-child(4n+4) {
  margin-right: 0;
}
.es_main-catalog .goods .image {
  width: 220px;
  height: 170px;
  position: relative;
}
.es_main-catalog .goods .image img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-height: 170px;
  max-width: 170px;
}
.es_main-catalog .goods .name {
  padding: 10px 0 18px 0;
  margin: 0 16px;
  border-top: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
}
.es_main-catalog .goods .name .name-goods {
  display: block;
  font-size: 12px;
  font-weight: bold;
}
.es_main-catalog .goods .name .section {
  font-size: 11px;
  color: #A9A9A9;
}
.es_main-catalog .goods .price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 16px;
}
.es_main-catalog .goods .button {
  margin: 10px 0 10px 16px;
  text-transform: uppercase;
  background: #5B9BD5;
  border-radius: 0 50px;
  padding: 10px 20px;
  color: #FFF;
  border: 0;
  text-shadow: 0 1px 2px #474747;
  text-align: center;
  font-size: 16px;
  line-height: 12px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  float: left;
}
.es_main-catalog .goods .buy-gold {
  font-size: 9px;
  color: #A9A9A9;
  padding-top: 5px;
  float: right;
  text-align: right;
  width: 80px;
  margin-right: 16px;
}
/*--------------------------Фильтр в каталоге товара--------------------------------------------------------------*/
.es_filter {
  border: 1px solid #000000;
  padding: 35px 0 35px 35px;
  margin: 10px 0;
  position: relative;
}
.es_filter .price {
  text-align: center;
}
.es_filter .price span.price {
  display: block;
  float: left;
  font-size: 28px;
  text-transform: uppercase;
  border: none;
  text-align: left;
}
.es_filter .price .polzunok {
  width: 360px;
  height: 50px;
}
.es_filter .brands ul li {
  display: block;
  text-align: center;
  border: 1px solid #000000;
  font-size: 28px;
  padding: 20px;
}
.es_filter .brands ul li ul {
  display: none;
}
.es_filter .sort {
  position: relative;
}
.es_filter .sort span {
  display: block;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: -24px;
}
.es_filter .sort span.price {
  float: left;
  text-align: left;
  font-size: 28px;
  border: 1px solid #000000;
  height: 76px;
  line-height: 76px;
  width: 120px;
  text-align: center;
  position: static;
}
.es_filter .sort a {
  display: block;
  width: 80px;
  height: 76px;
  border: 1px solid #000000;
  float: left;
  position: relative;
}
.es_filter .sort a img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.es_filter .more-paremeters {
  border-left: 1px solid #000000;
  margin: -36px 0px -35px 0px;
  padding: 0;
  height: 147px;
  display: table;
}
.es_filter .more-paremeters ul {
  display: table-cell;
  vertical-align: middle;
}
.es_filter .more-paremeters ul li {
  display: block;
  text-align: center;
  font-size: 28px;
}
.es_filter .hide-menu {
  position: absolute;
  left: -1px;
  bottom: -74px;
  font-family: Arial;
  display: none;
}
.es_filter .hide-menu ul {
  position: relative;
  background: #fff;
  z-index: 9999;
}
.es_filter .hide-menu ul li {
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #000000;
  font-size: 28px;
  padding: 20px;
  background: #fff;
  position: relative;
}
.es_filter .hide-menu ul li:nth-child(even) {
  border-left: none;
}
.es_filter .hide-menu ul li:last-child {
  border-left: none;
}
.es_filter .hide-menu ul li ul {
  position: absolute;
  display: none;
  width: inherit;
  border: 1px solid #000000;
  left: 0;
  padding: 20px;
  left: -1px;
  top: 72px;
  background: #ffffff;
}
.es_filter .hide-menu ul li ul li {
  display: block;
  float: none;
  height: 76px;
  width: 476px;
  font-size: 18px;
  border: 1px solid #000000;
  padding: 0;
  margin-bottom: 10px;
  background: #E4E4E4;
}
.es_filter .hide-menu ul li ul li:last-child {
  margin-bottom: 0;
}
.es_filter .hide-menu ul li ul li:nth-child(even) {
  border-left: 1px solid #000000;
}
.es_filter .hide-menu ul li ul li div {
  padding: 10px;
  font-size: 18px;
}
.es_filter .hide-menu ul li ul li div input {
  height: 50px;
  width: 50px;
  float: left;
}
.es_filter .hide-menu ul li ul li div label {
  line-height: 54px;
  font-weight: normal;
}
.es_filter .hide-menu ul li ul li div span.count-goods {
  display: block;
  float: right;
  height: 74px;
  line-height: 74px;
  width: 50px;
  margin: -10px;
  border-left: 1px solid #000000;
  font-size: 24px;
  background: #F2F2F2;
}
.es_filter .hide-menu ul li:hover ul {
  display: block;
}
/*========================================================*/
/*------------------Основная карточка товара------------------------------------------*/
.es_cart-goods .title-goods h2 {
  font-size: 40px;
  color: #666;
  margin: 40px 0;
}
.es_cart-goods .image-desc .images {
  width: 360px;
  height: 400px;
  position: relative;
  border: 1px solid #000000;
  float: left;
}
.es_cart-goods .image-desc .images img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-height: 300px;
  max-width: 300px;
}
.es_cart-goods .image-desc .brands {
  width: 180px;
  height: 80px;
  border: 1px solid #000000;
  border-left: none;
  float: left;
  position: relative;
}
.es_cart-goods .image-desc .brands img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 180px;
  max-height: 80px;
}
.es_cart-goods .image-desc .raiting {
  width: 180px;
  height: 80px;
  float: left;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 80px;
}
.es_cart-goods .image-desc .b-param {
  float: left;
  padding: 20px;
}
.es_cart-goods .image-desc .b-param span {
  display: block;
  font-size: 28px;
}
.es_cart-goods .image-desc .b-param span.color-gray {
  color: #666;
  margin-top: 20px;
}
.es_cart-goods .color {
  clear: both;
  padding: 20px 0;
}
.es_cart-goods .color span {
  font-size: 28px;
  color: #666;
  margin: 20px 0;
  display: inline-block;
}
.right-block .select span.arrow-top,
.right-block .select span.arrow-bottom {
  width: 27px;
  height: 27px;
}
.right-block span.count-goods {
  font-size: 26px;
  text-transform: uppercase;
}